# Copy these values into the environment used to start the service.
P4_FACE_THRESHOLD=0.45
P4_FACE_MODEL=buffalo_l
P4_FACE_DET_SIZE=640
P4_INSIGHTFACE_PROVIDERS=CPUExecutionProvider
P4_CAMERA_INDEX=0
P4_CAMERA_PREVIEW=false
P4_CAPTURE_DIR=
P4_CAPTURE_TIMEOUT_SECONDS=30
P4_DATABASE_PATH=
P4_P3_FACE_MODULE=
P4_P3_DATABASE_MODULE=
P4_P3_WEBCAM_MODULE=
P4_LIVENESS_MIN_FRAMES=2
P4_LIVENESS_MOTION_THRESHOLD=2.0
P4_MAX_UPLOAD_BYTES=10485760
P4_DATABASE_MODE=auto
MONGODB_URI=mongodb+srv://<username>:<url-encoded-password>@<cluster-host>/<database>?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DATABASE=pramaanx
MONGODB_SERVER_SELECTION_TIMEOUT_MS=2500
P4_LOCAL_DATABASE_PATH=
